{% extends "polls/base.html" %}
{% block title %}{{ question.question_text }} | Poll{% endblock %}
{% block content %}
  <h2 class="mdc-typography--headline3">{{ question.question_text }}</h2>
  <p>{{ question.pub_date }}</p>
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
      <div>
        <div class="mdc-form-field">
          <div class="mdc-radio">
            <input class="mdc-radio__native-control" type="radio" name="choice"
                   id="choice-{{ forloop.counter }}" value="{{ choice.id }}">
            <div class="mdc-radio__background">
              <div class="mdc-radio__outer-circle"></div>
              <div class="mdc-radio__inner-circle"></div>
            </div>
          </div>
          <label for="choice-{{ forloop.counter }}">{{ choice.choice_text }}</label>
        </div>
      </div>
    {% endfor %}
    <div class="buttons">
      <button class="mdc-button mdc-button--raised" type="submit">Vote</button>
      <button class="mdc-button mdc-button--outlined" type="button" onclick="location.href={% url 'polls:index' %}">
        Back
      </button>
    </div>
  </form>
{% endblock %}


