{% extends "polls/base.html" %}

{% block content %}
  <h1>Poll list</h1>
  {% if latest_question_list %}
    <ul id="polls-list" class="mdc-list mdc-list--two-line" aria-orientation="vertical">
      {% for question in latest_question_list %}
        <li class="mdc-list-item ripple" onclick='location.href="{% url 'polls:detail' question.id %}"'>
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text">{{ question.question_text }}</span>
          <span class="mdc-list-item__secondary-text">{{ question.pub_date }}</span>
        </span>
        </li>
      {% endfor %}

    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock %}